body {
    font-family: "DeJaVu Sans", "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    margin: 0 auto;
    max-width: 80vw;
    background-color: #EEE;
}

#logo h1 {
    display: inline-block;
}

header {
    display: flex;
    padding: 10px;
}

#header-img {
    height: 50px;
}

#logo {
    display: flex;
    width: 60%;
    align-items: flex-end;
}

nav {
    width: 40%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    margin: 0;
    padding: 0;
}

nav li{
    list-style: none;
}

nav a {
    text-decoration: none;
    margin: 0 auto;
}

main {
    padding: 10px;
}